5_classification_linear_knn/data/porto/test.csv filter=lfs diff=lfs merge=lfs -text
5_classification_linear_knn/data/porto/train.csv filter=lfs diff=lfs merge=lfs -text
8_evaluation_selection/data/task_results.csv filter=lfs diff=lfs merge=lfs -text
